<header class="header" role="banner">
  <nav class="navbar">
    <div class="navbar-brand">
      <div class="navbar-item">
        <a href="#">Developer Notes</a>
        <span class="separator">//</span>
        <a href="{{or site.url (or siteRootUrl siteRootPath)}}">Docs</a>
      </div>
      {{#if env.ALGOLIA_API_KEY}}
      <div class="navbar-item">
        <input id="search-input" type="text" placeholder="Search docs">
      </div>
      {{/if}}
      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
<!--
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        <div class="navbar-item has-dropdown is-hoverable">
          <div class="navbar-link">Projects</div>
          <div class="navbar-dropdown">
            <div class="navbar-item"><strong>Core</strong></div>
            <a class="navbar-item" href="https://gitlab.com/antora/antora">Repository</a>
            <a class="navbar-item" href="https://gitlab.com/antora/antora/issues">Issue Tracker</a>
            <hr class="navbar-divider">
            <div class="navbar-item"><strong>Default UI</strong></div>
            <a class="navbar-item" href="https://gitlab.com/antora/antora-ui-default">Repository</a>
            <a class="navbar-item" href="https://gitlab.com/antora/antora-ui-default/issues">Issue Tracker</a>
            <hr class="navbar-divider">
            <a class="navbar-item" href="https://gitlab.com/antora/antora/blob/master/contributing.adoc">Contributing</a>
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <div class="navbar-link">Community</div>
          <div class="navbar-dropdown is-right">
            <a class="navbar-item" href="https://gitter.im/antora/users">Chat (Users)</a>
            <a class="navbar-item" href="https://gitter.im/antora/dev">Chat (Dev)</a>
          </div>
        </div>
      </div>
    </div>
-->
  </nav>
</header>

